* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

body {
  font-family: "Lato", sans-serif;
}

img {
  max-width: 100%;
}

.center {
  padding-left: calc(50% - 800px);
  padding-right: calc(50% - 800px);
}
.top {
  width: 100%;
  /* position: relative;
  overflow: hidden;  */
}

.header {
  height: 75px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  background: rgb(34, 34, 34);
}

.logo {
  width: 111px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}
.bottom {
  width: 159px;
  height: 29px;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  display: flex;
  gap: 33px;
}

.bittom .formaFase {
  width: 41px;
  height: 37px;
}

.bittom .forma21 {
  width: 32px;
  height: 24px;
  color: rgb(232, 232, 232);
}

.group35 {
  width: 41px;
  height: 37px;
  display: flex;
}

.group35 .forma22 {
}

.group35 .ellipse {
  width: 19px;
  height: 19px;
  margin-top: -8px;
  margin-left: -9.01px;
  color: rgb(241, 109, 127);
}

.group35 .text {
  width: 14px;
  height: 19px;
  font-family: lato;
  font-size: 12px;
  font-weight: 400;
  margin-left: -12px;
  margin-top: -6px;
  display: flex;
  justify-content: center;
  color: rgb(255, 255, 255);
}

.back {
  width: 100%;
  display: flex;
  align-items: center;
  /* gap: 63.42px; */
  background: rgb(241, 228, 230);
  flex-wrap: wrap;
  flex-direction: row;
}

.back .layer__img {
  width: 50%;
  max-width: 800.58px;
  max-height: 764px;
}

.back .layer__content {
  gap: 10px;
  align-items: center;
  display: flex;
}

.back .form__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.back .layer__content .form__text .form__text-1 {
  font-family: lato;
  font-size: 48px;
  font-weight: 900px;
  color: rgb(34, 34, 34);
}

.back .layer__content .form__text .form__text-2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.back .layer__content .form__text .form__text-2 .form__text-21 {
  font-family: lato;
  font-size: 30px;
  font-weight: 700px;
  color: rgb(34, 34, 34);
}

.back .layer__content .form__text .form__text-2 .form__text-22 {
  font-family: lato;
  font-size: 30px;
  font-weight: 700px;
  color: rgb(241, 109, 127);
}

.offer {
  /* width: 1140px;
  height: 470px; */
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding-top: 65px;
  /* margin-left: 230px; */
  gap: 30px;
  display: flex;
}

.women {
  /* width: 360px;
  height: 260px; */
}

.women .group36 {
  position: relative;
}

.women .group36 .women__text {
  width: 150px;
  height: 50px;
  flex-direction: column;
  align-items: center;
  display: flex;
  position: absolute;
  top: 105px;
  left: 103px;
}

.men {
  /* width: 360px;
  height: 260px; */
  background: #3fb5d8;
}

.men .group37 {
  position: relative;
}

.men .group37 .men__text {
  /* width: 110px;
  height: 50px; */
  flex-direction: column;
  align-items: center;
  display: flex;
  position: absolute;
  top: 105px;
  left: 125px;
}

.kids {
  /* width: 360px;
  height: 260px; */
  background: #51d63a;
}

.kids .group38 {
  position: relative;
}

.kids .group38 .kids__text {
  /* width: 118px;
  height: 50px; */
  flex-direction: column;
  align-items: center;
  display: flex;
  position: absolute;
  top: 105px;
  left: 123px;
}

.accesories {
  /* width: 1140px;
  height: 180px; */
  background-color: aqua;
}

.accesories .group39 {
  position: relative;
}

.accesories .group39 .accesories__text {
  width: 159.72px;
  height: 50px;
  flex-direction: column;
  align-items: center;
  display: flex;
  position: absolute;
  top: 65px;
  left: 491px;
}

.products {
  width: 100%;
  height: 1395px;
  margin-left: 231px;
}

.products .products__text {
}

.fetured {
  /* width: 100%; */
  /* width: 185px;
  height: 36px; */
  font-family: lato;
  font-size: 30px;
  font-weight: 400;
  padding-top: 96px;
  padding-left: 480.36px;
  /* flex-direction: row;
  align-items: center;
  display: flex; */
  color: rgb(34, 34, 34);
}

.shop {
  /* width: 100%;
  height: 17px; */
  font-family: lato;
  font-size: 14px;
  font-weight: 400;
  margin-top: 6px;
  margin-left: 401px;
  color: rgb(159, 159, 159);
}

.block {
  max-width: 1150px;
  max-height: 1200px;
  margin-top: 48px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px;
}

.block .b1 {
  width: 360px;
  height: 585px;
  background: #f8f8f8;
}

.block .b1 .rectangle-15 {
  width: 360px;
  height: 420px;
  color: rgb(247, 228, 226);
}

.block .b1 .ellery-1 {
  width: 148.11px;
  height: 16px;
  font-family: lato;
  font-size: 13px;
  font-weight: 400;
  padding-top: 24px;
  padding-left: 16px;
  color: #000;
}

.block .b1 .known-1 {
  width: 314.7px;
  height: 51px;
  font-family: lato;
  font-size: 14px;
  font-weight: 300;
  padding-top: 16px;
  padding-left: 16px;
  color: rgb(93, 93, 93);
}

.block .b1 .cost-1 {
  width: 52.46px;
  height: 19px;
  font-family: lato;
  font-size: 16px;
  font-weight: 400;
  padding-top: 16px;
  padding-left: 16px;
  color: rgb(241, 109, 127);
}

.b2 {
  width: 360px;
  height: 585px;
  background: #f8f8f8;
}

.block .b2 .image-2 {
  width: 360px;
  height: 420px;
  color: #f8e4e2;
}

.block .b2 .ellery-2 {
  width: 148.11px;
  height: 16px;
  font-family: lato;
  font-size: 13px;
  font-weight: 400;
  padding-top: 24px;
  padding-left: 16px;
  color: #000;
}

.block .b2 .known-2 {
  width: 314.7px;
  height: 51px;
  font-family: lato;
  font-size: 14px;
  font-weight: 300;
  padding-top: 16px;
  padding-left: 16px;
  color: rgb(93, 93, 93);
}

.block .b2 .cost-2 {
  width: 52.46px;
  height: 19px;
  font-family: lato;
  font-size: 16px;
  font-weight: 400;
  padding-top: 16px;
  padding-left: 16px;
  color: rgb(241, 109, 127);
}

.b3 {
  width: 360px;
  height: 585px;
  background: #f8f8f8;
}

.block .b3 .image-3 {
  width: 360px;
  height: 420px;
  color: #f8e4e2;
}

.block .b3 .ellery-3 {
  width: 148.11px;
  height: 16px;
  font-family: lato;
  font-size: 13px;
  font-weight: 400;
  padding-top: 24px;
  padding-left: 16px;
  color: #000;
}

.block .b3 .known-3 {
  width: 314.7px;
  height: 51px;
  font-family: lato;
  font-size: 14px;
  font-weight: 300;
  padding-top: 16px;
  padding-left: 16px;
  color: rgb(93, 93, 93);
}

.block .b3 .cost-3 {
  width: 52.46px;
  height: 19px;
  font-family: lato;
  font-size: 16px;
  font-weight: 400;
  padding-top: 16px;
  padding-left: 16px;
  color: rgb(241, 109, 127);
}

.b4 {
  width: 360px;
  height: 585px;
  background: #f8f8f8;
}
.block .b4 .image-4 {
  width: 360px;
  height: 420px;
  color: rgb(243, 237, 237);
}
.block .b4 .ellery-4 {
  width: 148.11px;
  height: 16px;
  font-family: lato;
  font-size: 13px;
  font-weight: 400;
  padding-top: 24px;
  padding-left: 16px;
  color: #000;
}
.block .b4 .known-4 {
  width: 314.7px;
  height: 51px;
  font-family: lato;
  font-size: 14px;
  font-weight: 300;
  padding-top: 16px;
  padding-left: 16px;
  color: rgb(93, 93, 93);
}
.block .b4 .cost-4 {
  width: 52.46px;
  height: 19px;
  font-family: lato;
  font-size: 16px;
  font-weight: 400;
  padding-top: 16px;
  padding-left: 16px;
  color: rgb(241, 109, 127);
}

.b5 {
  width: 360px;
  height: 585px;
  background: #f8f8f8;
}
.block .b5 .image-5 {
  width: 360px;
  height: 420px;
  color: rgb(243, 237, 237);
}
.block .b5 .ellery-5 {
  width: 148.11px;
  height: 16px;
  font-family: lato;
  font-size: 13px;
  font-weight: 400;
  padding-top: 24px;
  padding-left: 16px;
  color: #000;
}
.block .b5 .known-5 {
  width: 314.7px;
  height: 51px;
  font-family: lato;
  font-size: 14px;
  font-weight: 300;
  padding-top: 16px;
  padding-left: 16px;
  color: rgb(93, 93, 93);
}
.block .b5 .cost-5 {
  width: 52.46px;
  height: 19px;
  font-family: lato;
  font-size: 16px;
  font-weight: 400;
  padding-top: 16px;
  padding-left: 16px;
  color: rgb(241, 109, 127);
}

.b6 {
  width: 360px;
  height: 585px;
  background: #f8f8f8;
}
.block .b6 .image-6 {
  width: 360px;
  height: 420px;
  color: rgb(243, 237, 237);
}
.block .b6 .ellery-6 {
  width: 148.11px;
  height: 16px;
  font-family: lato;
  font-size: 13px;
  font-weight: 400;
  padding-top: 24px;
  padding-left: 16px;
  color: #000;
}
.block .b6 .known-6 {
  width: 314.7px;
  height: 51px;
  font-family: lato;
  font-size: 14px;
  font-weight: 300;
  padding-top: 16px;
  padding-left: 16px;
  color: rgb(93, 93, 93);
}
.block .b6 .cost-6 {
  width: 52.46px;
  height: 19px;
  font-family: lato;
  font-size: 16px;
  font-weight: 400;
  padding-top: 16px;
  padding-left: 16px;
  color: rgb(241, 109, 127);
}

.button {
  width: 212px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 48px;
  margin-left: 465px;
  border: 1px solid rgb(255, 106, 106);
}

.button .browse {
  width: 134px;
  height: 19px;
  font-family: lato;
  font-size: 13px;
  font-weight: 400;
  display: flex;
  justify-content: center;
  color: rgb(242, 99, 118);
}

@media (min-width: 425px) and(max-width: 768) {
  .back .layer__content .form__text .form__text-1 {
    font-size: 24px;
  }

  .back .layer__content .form__text .form__text-2 .form__text-21 {
    font-size: 24px;
  }

  .back .layer__content .form__text .form__text-2 .form__text-22 {
    font-size: 24px;
  }
}
